# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
server/node_modules/
server/.env
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Environment
.env

# OS/system
.DS_Store
Thumbs.db
.vscode/
